.ContactoFondo{
    background: linear-gradient(180deg, rgb(95, 34, 136) 0%, rgba(153,175,233,1) 46%, rgba(36,57,215,1) 100%);
    .ContactoGrilla{
        display: flex;
        margin-left: 5%;
        text-align: center;
        margin-bottom: 3%;
        .ContactoTitulo{
            text-align: center;
            color: #9CA3DB;   
        }
        .ContactoFormulario{
            margin-top: 3%;
            width: 550px;
            background-color: #454B66;
            padding: 30px;
            border-radius: 4px;
            color:#9CA3DB;
            font-family: Calibri; 
            .ContactoItem{
                width: 100%;
                background-color: #f7f0f0;
                padding: 1%;
                border-radius: 4%;
                margin-bottom: 1%;
                border:#677db7 solid 1px
            }
            .ContactoBoton{
                @extend .ContactoItem;
                background-color: #677db7;
                color: black;
                margin-top: 2%;
                height: 40px;
            }
        }
        .ContactoImagen{
            margin-top: 3%;
            width: 70%;
            height: 94%;
            border-radius: 4%;
        }
        @media screen and (max-width:800px){
            .ContactoImagen{
                display: none;
            }
            .ContactoFormulario{
                margin-left: 10%;
            }
        }
        @media screen and (max-width:500px){
            .ContactoFormulario{
                margin-right: 3%;
                margin-left: -3%;
            }
        }
    }
    
}
