.IndexInicio{
    width: 100%;
    height: 40%;
    background-image: url(../img/cara.jpg);
    background-position: center;
    background-size: cover;
}
.IndexFoto1{
    width: 50%;
}
.IndexTexto{
    padding: 2% 10%;
    font-size: 1.5rem;
}
.IndexContenedorServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    background-color: #ededed;
    padding-top: 30px;
}
.IndexBoxServicios{
    height: 120px;
    width: 200px;
    background-image: url(../img/Promos.png);
    border-radius: 10%;
    margin: 20px;
    padding-top: 40px;
    background-position: center;
    background-size: cover;
}
.IndexDivision{
    background-color:#677db7;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: larger;
    font-weight: 500;
}
.IndexTextoSpa{
    text-decoration: none;
    color: white;
    font-size: 130%;
}
#IndexContainerPromos{
    padding-top: 5px;
    display: grid;
    grid-template-areas: 
    "spas spa1 spa2"
    "spas spa3 otros";
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 250px 250px;
    text-align: center;
    gap: 5px;
    justify-content: center;
}
#IndexSpas{
    grid-area: spas;
    background-color: #9CA3DB;
    color: #454B66;
    padding-top:55%;
}
#IndexSpa1{
    grid-area: spa1;
    background-image: url(../img/spa2.jpg);
    padding-top: 22%;
    background-position: center;
    background-size: cover;
}
#IndexSpa2{
    grid-area: spa2;
    background-image: url(../img/spa1.jpg);
    padding-top: 22%;
    background-position: center;
    background-size: cover;
}
#IndexSpa3{
    grid-area: spa3;
    background-image: url(../img/spa4.jpg);
    padding-top: 22%;
    background-position: center;
    background-size: cover;
}
#IndexOtrosSpas{
    grid-area: otros;
    background-image: url(../img/spa3.jpg);
    padding-top: 22%;
    background-position: center;
    background-size: cover;
}
.IndexTituloTurnos{
    margin-top: 35px;
}
.IndexContenedorInfo{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    margin-top: 15px;
    background-color: #ededed;
}
.IndexIMGTurnos{
    height: 50px;
    width: 50px;
}
.IndexCuadradoHorario{
    height: 10%;
    margin-top: 10px;
    border-radius: 10%;   
}
.instagram{
    text-decoration: none;
    color: #677db7;
    text-align: center;
}