*{
    margin: 0;
    padding: 0;
}
.menu{
    text-decoration:none;
    color: #9CA3DB;
}
.bg-body-tertiary{
    background-color: #454B66;
    color: #677db7;
}
// Variables // 
$color1: #9CA3DB;
$color2:  #677db7;
$color3: #454B66;

// paleta de colores// 
.color1{
    color: $color1;
}
.color2{
    color: $color2;
}
.color3{
    color:$color3;
}
.negrita{
    font-weight:bold;
}
.italic{
    font-weight: lighter;
}
.letra{
    font-family: 'Raleway', sans-serif;
}
.centrado{
    text-align: center;
}
header{
    position: sticky;
    top: 0px;
    }.menu{
    text-decoration:none;
    color: #9CA3DB;
}
.bg-body-tertiary{
    background-color: #454B66;
    color: #677db7;
}
footer{
    background-color:#454B66;
    height: 10vh;
}
.color1{
    color:#9CA3DB;
}
.color2{
    color: #677db7;
}
.color3{
    color:#454B66;
}
.negrita{
    font-weight:bold;
}
.italic{
    font-weight: lighter;
}
.letra{
    font-family: 'Raleway', sans-serif;
}
.centrado{
    text-align: center;
}
a:hover{
    font-weight: bold;
    color:#454B66
}
header{
    position: sticky;
    top: 0px;
    }